* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  font-size: 12px;
  font-family: "Pathway Gothic One", sans-serif;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.page {
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrapper {
  width: 480px;
  margin: auto;
  background-color: white;
  padding: 65px 38px 45px 33px;
}
.article {
  margin-bottom: 55px;
}

.article h2 {
  margin-bottom: 33px;
  font-size: 25px;
  text-transform: uppercase;
  color: #263555;
}
.article img {
  width: 100%;
}

.article h5 {
  margin-top: 25px;
  font-size: 14px;
  color: #263555;
}
.article p {
  margin-top: 25px;
  font-size: 12px;
}
.aside {
  padding-right: 80px;
  margin-bottom: 50px;
}
.aside h2 {
  margin-bottom: 30px;
  font-size: 25px;
  text-transform: uppercase;
  color: #263555;
}
.aside li {
  list-style-type: none;
  margin-top: 30px;
}
.aside h5 {
  margin-bottom: 20px;
  font-size: 14px;
  color: #263555;
}

.section {
  border-top: 1px solid #dcdcdc;
  padding-top: 53px;
}

.section h2 {
  margin-bottom: 30px;
  font-size: 25px;
  text-transform: uppercase;
  color: #263555;
}
.section h5 {
  margin-bottom: 25px;
  font-size: 14px;
  color: #263555;
}
.section p {
  margin-bottom: 40px;
  font-size: 12px;
}
.list {
  font-size: 14px;
  font-weight: bold;
  color: #263555;
  list-style-type: none;
  column-count: 2;
  text-align: center;
}
.list li {
  margin-bottom: 25px;
}
