@import url("fonts.css");
@import url("reset.css");
@import url("variables.css");

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--main-font-color);
}
/*-----MASTHEAD-----*/
.masthead-wrapper {
  background-image: url("../img/bg-masthead.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: RGBA(0, 0, 0, 0.5);
  min-height: 43.75rem;
}
.promo-container {
  min-width: 20rem;
  max-width: 75rem;
  margin: auto;
  color: var(--main-font-color);
  padding-top: 2.5rem;
}
.masthead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}
.login {
  display: flex;
  justify-content: center;
}
.logo {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-top: 7.5rem;
}
.login a {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0.625rem 0.9375rem;
}
.sign-up {
  border: 2px solid #fff;
  border-radius: 20px;
}
.promo {
  text-align: center;
}
.promo-title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  text-align: center;
}
.promo-subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}
.promo-btn {
  color: var(--main-font-color);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  background-color: var(--main-background-color);
  border-radius: 20px;
  padding: 0.94rem 3.13rem;
}
/*-----PARTNER WRAPPER-----*/
.partner-container {
  text-align: center;
  margin: auto;
  color: var(--second-font-color);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.partner-title {
  font-size: 1.375rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.25rem;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partner-card {
  flex-basis: 62.5%;
  text-align: center;
  margin-bottom: 1.875rem;
}
.partner-card:last-child {
  margin: 0;
}
.partner-photo {
  width: 7.5rem;
  margin-bottom: 1.25rem;
}
.partner-name {
  font-size: 0.875rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.partner-about {
  font-size: 0.875rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #666666;
  line-height: 1.5;
}
.partner-btn {
  border: 2px solid #ff4e50;
  border-radius: 20px;
  color: #ff4e50;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 0.94rem 3.13rem;
  margin-top: 1.88rem;
}
/*MEDIA*/
@media (min-width: 768px) {
  .masthead-wrapper {
    min-height: 43.75rem;
  }

  .masthead {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .logo {
    margin: 0;
  }
  .promo {
    width: 50%;
    margin: auto;
  }
  .promo-title {
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    font-size: 3.25rem;
  }

  .promo-subtitle {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
  }
  .promo-btn {
    padding: 0.625rem 1.5rem;
  }
  .partner-container {
    max-width: 50rem;
  }
  .card-container {
    min-width: 20rem;
    max-width: 58.75rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .partner-card {
    flex: 0 0 45%;
  }
  .people-card:nth-child(n+3) {
    margin: 0;
  }
}
@media (min-width: 940px) {
  .partner-container {
    max-width: 80rem;
    display: block;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1.875rem;
  }

  .partner-card {
    flex: 0 0 22%;
    margin-bottom: 2.5rem;
    margin: 0;
  }

  .partner-title {
    margin-bottom: 2.5rem;
  }

  .partner-title {
    display: inline-block;
  }
}