* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  font-size: 13px;
  font-family: "Pathway Gothic One", sans-serif;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}
.page {
  padding-top: 50px;
  padding-bottom: 50px;
}
.wrapper {
  width: 1000px;
  margin: auto;
  background-color: white;
  padding: 62px;
  line-height: 12px;
}
.article {
  margin-bottom: 50px;
}
.content {
  width: 70%;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
h1,
h3,
a {
  color: #263555;
}
.content h1 {
  margin-bottom: 33px;
  font-size: 25px;
  text-transform: uppercase;
}
img {
  width: 361px;
  height: 280px;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 18px;
}
h3 {
  margin-bottom: 15px;
}
/*расстояние между строк не выставлено */
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.sidebar {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding-left: 55px;
}
h1 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 40px;
}
.item_circle {
  list-style-type: none;
  position: relative;
  padding-bottom: 20px;
}
.item_circle::before {
  position: absolute;
  top: 8px;
  width: 27px;
  height: 25px;
  border-radius: 50%;
  background: #54a8ba;
  display: inline-block;
  content: counter(variable);
  counter-increment: variable;
  text-align: center;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  line-height: 27px;
  border: 1px solid #1b749c;
}
.item_circle > h3,
.column_h3 {
  margin-left: 40px;
}
.section {
  border-top: 1px solid #dcdcdc;
  padding-top: 53px;
}
.list {
  list-style-type: none;
  column-count: 2;
  margin-top: 34px;
}
.item {
  margin-bottom: 30px;
}
a {
  display: block;
  text-decoration: none;
  font-weight: bold;
}
a::before {
  content: "\2192";
  margin-right: 11px;
}
.squer {
  width: 200px;
  background-color: #fcfafa;
  border: 1px solid #dedbdb;
  border-radius: 2px;
  padding: 15px;
}
.quotes {
  font-size: 15px;
  color: #263555;
}
.quotes::before {
  content: "\201C";
  margin-right: 2px;
}
.quotes::after {
  content: "\201D";
  margin-left: 2px;
}
.mark {
  margin-top: 20px;
  text-align: center;
}
h4 {
  font-size: 16px;
  color: #263555;
}
.mark p {
  margin-top: 25px;
}
